/* * {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*/

/* Styles des principales sections */

body {
    background: url("../pic/175452.jpg");
    background-repeat: repeat-y;
    background-size: 35% 35%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

div {
    margin: 0px;
}

nav {
    margin-bottom: 30px;
    height: 40px;
}

.menu>li>a {
    color:black;
}

.menu>li {
    position: static;
    display: inline-block;
    padding-left: 10px;
    border-bottom: 4px solid rgba(255, 255, 255, 0);
}

.menu>li:hover {
    border-bottom: 4px solid orangered;
}

.menu>li:hover>.sous_menu {
    display: initial;
}

.sous_menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 22%;
    width: 100px;
    overflow: hidden;
    background-color: white;
    list-style-type: none;
}


/* Styles des liens */

a {
    color:orangered;
    text-decoration: none;
}

a:focus {
    text-decoration: underline;
}


/* Styles des textes et listes */

u.warning_info {
    font-weight: bold;
    color:red;
}

.liste_carres {
    background-color: rgba(47, 79, 79, 0.027);
    margin: 14px;
    color: darkgreen;   /* à voir... */
    list-style-type: square;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 105%;
    background-color: darkslategrey;
    color:white;
}

.legendes {
    font-style: italic;
}

.darkred_text {
    color: darkred;
}

.titres_tableau {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: lightgrey;
    color: white;
}

#fin_page {
    color: lightgrey;
    font-style: italic;
}